# Implementing Recommender Systems - Lab

## Introduction

In this lab, you'll practice creating a recommender system model using `surprise`. You'll also get the chance to create a more complete recommender system pipeline to obtain the top recommendations for a specific user.

## Objectives

In this lab you will: 

- Use surprise's built-in reader class to process data to work with recommender algorithms 
- Obtain a prediction for a specific user for a particular item 
- Introduce a new user with rating to a rating matrix and make recommendations for them 
- Create a function that will return the top n recommendations for a user

For this lab, we will be using the famous 1M movie dataset. It contains a collection of user ratings for many different movies. In the last lesson, you were exposed to working with `surprise` datasets. In this lab, you will also go through the process of reading in a dataset into the `surprise` dataset format. To begin with, load the dataset into a Pandas DataFrame. Determine which columns are necessary for your recommendation system and drop any extraneous ones.

In [1]:
import pandas as pd
df = pd.read_csv('./ml-latest-small/ratings.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
userId       100836 non-null int64
movieId      100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [2]:
# Drop unnecessary columns
new_df = df.drop('timestamp', axis=1)

It's now time to transform the dataset into something compatible with `surprise`. In order to do this, you're going to need `Reader` and `Dataset` classes. There's a method in `Dataset` specifically for loading dataframes.

In [12]:
from surprise import Reader, Dataset
# read in values as Surprise dataset

reader = Reader()
data = Dataset.load_from_df(new_df, reader)

Let's look at how many users and items we have in our dataset. If using neighborhood-based methods, this will help us determine whether or not we should perform user-user or item-item similarity

In [13]:
dataset = data.build_full_trainset()
print('Number of users: ', dataset.n_users, '\n')
print('Number of items: ', dataset.n_items)

Number of users:  610

Number of items:  9724

In [ ]:
# There are fewer users than items,
# so model should be user based

## Determine the best model 

Now, compare the different models and see which ones perform best. For consistency sake, use RMSE to evaluate models. Remember to cross-validate! Can you get a model with a higher average RMSE on test data than 0.869?

In [14]:
# importing relevant libraries
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD()
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV
import numpy as np

In [16]:
## Perform a gridsearch with SVD
# ⏰ This cell may take several minutes to run

param_grid = {'n_factors':[20, 50, 100],
              'n_epochs':[5, 10, 20],
              'lr_all':[0.002, 0.005],
              'reg_all': [0.02, 0.05, 0.1]}

gs_model = GridSearchCV(SVD, param_grid = param_grid, n_jobs = -1,
                        joblib_verbose = 5)
gs_model.fit(data)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:   24.5s
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  7.8min
[Parallel(n_jobs=-1)]: Done 270 out of 270 | elapsed: 14.2min finished

In [21]:
# print out optimal parameters for SVD after GridSearch

print(gs_model.best_params)

{'rmse': {'n_factors': 100, 'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.05}, 'mae': {'n_factors': 20, 'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.02}}

In [22]:
# cross validating with KNNBasic
knn_basic = KNNBasic(sim_options={'name': 'pearson', 'user_based':True})
cv_knn_basic = cross_validate(knn_basic, data, n_jobs=-1)

In [23]:
# print out the average RMSE score for the test set

for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_basic['test_rmse']))

('test_rmse', array([0.9777404 , 0.96241766, 0.97828616, 0.97592713, 0.96790561]))
('test_mae', array([0.75426892, 0.74169489, 0.75575522, 0.75434475, 0.74712045]))
('fit_time', (0.5881040096282959, 0.7781620025634766, 0.6924989223480225, 0.7647280693054199, 0.5613572597503662))
('test_time', (2.160789966583252, 2.308009147644043, 1.9928879737854004, 2.0370800495147705, 1.7491581439971924))
-----------------------
0.9724553937328022

In [27]:
# cross validating with KNNBaseline

knn_baseline = KNNBaseline(sim_options={'name': 'pearson', 'user_based':True})
cv_knn_baseline = cross_validate(knn_baseline, data, n_jobs=1)

# How do I know when to set n_jobs to 1 or -1?
# Ask Abhineet

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [28]:
# print out the average score for the test set

for i in cv_knn_baseline.items():
    print(i)

np.mean(cv_knn_baseline['test_rmse'])

('test_rmse', array([0.86732237, 0.87483015, 0.88581531, 0.87810176, 0.86975615]))
('test_mae', array([0.66543575, 0.66525718, 0.67412884, 0.67085194, 0.66735396]))
('fit_time', (0.819800853729248, 0.828942060470581, 0.8440878391265869, 0.8530449867248535, 1.084258794784546))
('test_time', (2.4843051433563232, 2.5418167114257812, 2.506622076034546, 2.440659999847412, 2.947545051574707))

0.8751651469540587

Based off these outputs, it seems like the best performing model is the SVD model with `n_factors = 50` and a regularization rate of 0.05. Use that model or if you found one that performs better, feel free to use that to make some predictions.

## Making Recommendations

It's important that the output for the recommendation is interpretable to people. Rather than returning the `movie_id` values, it would be far more valuable to return the actual title of the movie. As a first step, let's read in the movies to a dataframe and take a peek at what information we have about them.

In [29]:
df_movies = pd.read_csv('./ml-latest-small/movies.csv')

In [30]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Making simple predictions
Just as a reminder, let's look at how you make a prediction for an individual user and item. First, we'll fit the SVD model we had from before.

In [31]:
svd = SVD(n_factors= 100, reg_all=0.05, n_epochs=20, lr_all = 0.005)
svd.fit(dataset)

In [32]:
svd.predict(2, 4)

Prediction(uid=2, iid=4, r_ui=None, est=2.917577258973427, details={'was_impossible': False})

This prediction value is a tuple and each of the values within it can be accessed by way of indexing. Now let's put our knowledge of recommendation systems to do something interesting: making predictions for a new user!

## Obtaining User Ratings 

It's great that we have working models and everything, but wouldn't it be nice to get to recommendations specifically tailored to your preferences? That's what we'll be doing now. The first step is to create a function that allows us to pick randomly selected movies. The function should present users with a movie and ask them to rate it. If they have not seen the movie, they should be able to skip rating it. 

The function `movie_rater()` should take as parameters: 

* `movie_df`: DataFrame - a dataframe containing the movie ids, name of movie, and genres
* `num`: int - number of ratings
* `genre`: string - a specific genre from which to draw movies

The function returns:
* rating_list : list - a collection of dictionaries in the format of {'userId': int , 'movieId': int , 'rating': float}

#### This function is optional, but fun :)

In [ ]:
len(df_movies)

In [34]:
# def movie_rater(movie_df,num, genre=None):
#     userID = 1000
#     rating_list = []
#     while num > 0:
#         if genre:
#             movie = movie_df[movie_df['genres'].str.contains(genre)].sample(1)
#         else:
#             movie = movie_df.sample(1)
#         print(movie)
#         rating = input('How do you rate this movie on a scale of 1-5, press n if you have not seen :\n')
#         if rating == 'n':
#             continue
#         else:
#             rating_one_movie = {'userId':userID,'movieId':movie['movieId'].values[0],'rating':rating}
#             rating_list.append(rating_one_movie) 
#             num -= 1
#     return rating_list

In [ ]:
# try out the new function here!

# user_rating = movie_rater(df_movies, 4, 'Comedy')

      movieId                      title        genres
4032     5706  ...All the Marbles (1981)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title         genres
9500   170817  Snatched (2017)  Action|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                 title  genres
6763    59900  You Don't Mess with the Zohan (2008)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                              title  genres
7356    78544  Ricky Gervais Live 3: Fame (2007)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                         title        genres
4328     6324  It Runs in the Family (2003)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                     title          genres
6147    44004  Failure to Launch (2006)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId            title          genres
2168     2884  Dog Park (1998)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                        title  \
9713   188301  Ant-Man and the Wasp (2018)

                                      genres
9713  Action|Adventure|Comedy|Fantasy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId           title                        genres
3980     5613  8 Women (2002)  Comedy|Crime|Musical|Mystery
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId         title               genres
9491   170399  CHiPS (2017)  Action|Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  \
6994    67295  Kung Fu Panda: Secrets of the Furious Five (2008)

                                genres
6994  Action|Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
3
      movieId                               title          genres
7003    67788  Confessions of a Shopaholic (2009)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                             title                 genres
1572     2110  Dead Men Don't Wear Plaid (1982)  Comedy|Crime|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId           title          genres
8516   114265  Laggies (2014)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title        genres
5138     8238  Little Murders (1971)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId          title                              genres
3989     5628  Wasabi (2001)  Action|Comedy|Crime|Drama|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId         title               genres
7560    85401  Super (2010)  Action|Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title              genres
4526     6708  Matchstick Men (2003)  Comedy|Crime|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
4
      movieId                     title                genres
4994     7707  He Said, She Said (1991)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId              title          genres
2896     3873  Cat Ballou (1965)  Comedy|Western
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId           title                genres
5420    25850  Holiday (1938)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId             title          genres
106      122  Boomerang (1992)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                              title                genres
3227     4357  How to Marry a Millionaire (1953)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                  title         genres
1948     2582  Twin Dragons (Shuang long hui) (1992)  Action|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                             title                genres
1041     1353  Mirror Has Two Faces, The (1996)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                      title          genres
7432    80860  Life as We Know It (2010)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                      title  genres
8578   116977  Dumb and Dumber To (2014)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
    movieId          title  genres
61       69  Friday (1995)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title          genres
4352     6367  Down with Love (2003)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                  title        genres
1780     2378  Police Academy (1984)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId              title           genres
1287     1713  Mouse Hunt (1997)  Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  \
6553    54910  Behind the Mask: The Rise of Leslie Vernon (2006)

                      genres
6553  Comedy|Horror|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  \
5464    26158  Closely Watched Trains (Ostre sledované vlaky)...

                genres
5464  Comedy|Drama|War
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title        genres
8847   132496  Danny Collins (2015)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                   title  \
6779    60289  Kit Kittredge: An American Girl (2008)

                             genres
6779  Children|Comedy|Drama|Mystery
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                   title                  genres
2737     3675  White Christmas (1954)  Comedy|Musical|Romance

If you're struggling to come up with the above function, you can use this list of user ratings to complete the next segment

In [ ]:
user_rating = [{'userId': 1000, 'movieId': 55245, 'rating': '5'},
               {'userId': 1000, 'movieId': 2491, 'rating': '4'},
               {'userId': 1000, 'movieId': 4718, 'rating': '4'},
               {'userId': 1000, 'movieId': 5990, 'rating': '3'}]

### Making Predictions With the New Ratings
Now that you have new ratings, you can use them to make predictions for this new user. The proper way this should work is:

* add the new ratings to the original ratings DataFrame, read into a `surprise` dataset 
* train a model using the new combined DataFrame
* make predictions for the user
* order those predictions from highest rated to lowest rated
* return the top n recommendations with the text of the actual movie (rather than just the index number)

In [39]:
## add the new ratings to the original ratings DataFrame

new_ratings_df = new_df.append(user_rating,ignore_index=True)
new_data = Dataset.load_from_df(new_ratings_df,reader)

In [40]:
# train a model using the new combined DataFrame

svd_ = SVD(n_factors= 100, reg_all=0.05)
svd_.fit(new_data.build_full_trainset())

In [42]:
# make predictions for the user
# you'll probably want to create a list of tuples in the format (movie_id, predicted_score)

list_of_movies = []
for m_id in new_df['movieId'].unique():
    list_of_movies.append( (m_id,svd_.predict(1000,m_id)[3]))

In [45]:
# order the predictions from highest to lowest rated

ranked_movies = sorted(list_of_movies, key=lambda x:x[1], reverse=True)

 For the final component of this challenge, it could be useful to create a function `recommended_movies()` that takes in the parameters:
* `user_ratings`: list - list of tuples formulated as (user_id, movie_id) (should be in order of best to worst for this individual)
* `movie_title_df`: DataFrame 
* `n`: int - number of recommended movies 

The function should use a `for` loop to print out each recommended *n* movies in order from best to worst

In [49]:
# return the top n recommendations using the 
def recommended_movies(user_ratings,movie_title_df,n):
    for idx, rec in enumerate(user_ratings):
        title = movie_title_df.loc[movie_title_df['movieId'] == int(rec[0])]['title']
        print('Recommendation # ', idx+1, ': ', title, '\n')
        n-= 1
        if n == 0:
            break
            
recommended_movies(ranked_movies,df_movies,5)

Recommendation #  1 :  277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation #  2 :  680    Philadelphia Story, The (1940)
Name: title, dtype: object

Recommendation #  3 :  686    Rear Window (1954)
Name: title, dtype: object

Recommendation #  4 :  602    Dr. Strangelove or: How I Learned to Stop Worr...
Name: title, dtype: object

Recommendation #  5 :  926    Amadeus (1984)
Name: title, dtype: object

## Level Up (Optional)

* Try and chain all of the steps together into one function that asks users for ratings for a certain number of movies, then all of the above steps are performed to return the top $n$ recommendations
* Make a recommender system that only returns items that come from a specified genre

## Summary

In this lab, you got the chance to implement a collaborative filtering model as well as retrieve recommendations from that model. You also got the opportunity to add your own recommendations to the system to get new recommendations for yourself! Next, you will learn how to use Spark to make recommender systems.